name: Lint

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review, review_requested, review_request_removed ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Typecheck
        run: npm run typecheck

      - name: Clone SDK
        run: npm run sdk:clone

      - name: Build SDK
        run: npm install
        working-directory: .build/sdk-typescript

      - name: Install snippet dependencies
        run: npm install
        working-directory: test-snippets

      - name: Typecheck snippets
        run: npm run typecheck:snippets
